* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	color: white;
	font-size: 1.2em;
	margin-top: 10px;
}

.subTituloFav {
	text-align: center;
	color: white;
	font-size: 1em;
}

#linkMenu {
	font-size: 130%;
	color: rgba(199, 21, 134, 0.651);
	transition: 0.3s;
}

#linkMenu:hover {
	color: mediumvioletred;
}

#vLinkMenu {
	text-align: center;
	margin-bottom: 20px;
	text-decoration: none;
	color: rgba(199, 21, 134, 0.651);
	transition: 0.3s;
}

#vLinkMenu:hover {
	color: mediumvioletred;
}

.purple {
	color: mediumvioletred;
	border-color: mediumvioletred;
}

.purple:hover {
	background-color: mediumvioletred;
	color: white;
}

.purple:focus {
	box-shadow: 0 0 1em mediumvioletred;
	border-color: mediumvioletred;
}

.form-control {
	border-color: mediumvioletred;
}

.form-control:focus {
	box-shadow: 0 0 1em mediumvioletred;
	border-color: mediumvioletred;
}

/* Carrousel Favoritas */
h6 {
	font-size: 140%;
	color: white;
	margin: 20px 20px 0 20px;
}

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.imagensF {
	transition: transform 2s, filter 1.5s ease-in-out;
	transform-origin: center center;
	filter: brightness(70%);
	border-radius: 5px;
}

.imagensF:hover {
	filter: brightness(100%);
	transform: scale(1.1);
}

.media-scroller {
	--spacer: 1rem;
	display: grid;
	gap: var(--spacer);
	grid-auto-flow: column;
	grid-auto-columns: 35%;

	padding: 0 var(--spacer) var(--spacer);

	overflow-x: auto;
	overscroll-behavior-inline: contain;
}

#containerF {
	inline-size: min(110% - 0.5em, 50em);
	margin-inline: auto;
}

.flow {
	display: grid;
	gap: var(--spacer);
}

.media-element {
	display: grid;
	grid-template-rows: min-content;
	gap: var(--size-2);
	padding: var(--spacer);
	background: var(--surface-2);
	border-radius: var(--radius-2);
	box-shadow: var(--shadow-2);
}

.media-element > img {
	width: 100%;
	aspect-ratio: 10 / 10;
	object-fit: cover;
}

.snaps-inline {
	scroll-snap-type: inline mandatory;
	scroll-padding-inline: var(--spacer);
}

.snaps-inline > * {
	scroll-snap-align: start;
}

.vertical-scroll::-webkit-scrollbar {
	height: 7px;
	width: 9px;
}

.vertical-scroll::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #ff0055;
}

.vertical-scroll::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: rgb(202, 6, 55);
}

/* Carrousel Favoritas */

/* SubCarrousel Vertical */
#scrollToc::-webkit-scrollbar-thumb {
	border-radius: 0;
	background: #ff0055;
}

#scrollToc::-webkit-scrollbar-track {
	border-radius: 10px;
	background: white;
}

#scrollToc::-webkit-scrollbar {
	height: 7px;
	width: 9px;
}

.subNum {
	margin: 3px;
	padding: 3px;
	color: whitesmoke;
	text-decoration: none;
	transition: 0.4s;
}

.imagensS {
	width: 6rem;
	margin: 6px;
	margin-left: 30px;
	border: 1px solid white;
	transition: 0.4s;
}

#containerS {
	border: 2px solid whitesmoke;
	border-radius: 20px;
	margin-bottom: 20px;
	transition: 0.4s;
}

.TituloToc {
	display: inline-flex;
	margin: 3px;
	padding: 3px;
	color: whitesmoke;
	text-align: center;
	transition: 0.4s;
	font-size: 130%;
}

.subTituloToc {
	display: inline-block;
	margin: 3px;
	padding: 3px;
	color: whitesmoke;
	text-align: center;
	transition: 0.4s;
	font-size: 95%;
}

/* Efeitos Hover */
.linkToc:hover .subNum {
	color: #ff0055;
}
.linkToc:hover .TituloToc {
	color: #ff0055;
}
.linkToc:hover .subTituloToc {
	color: #ff0055;
}

.linkToc:hover .imagensS {
	border-color: #ff0055;
}

.linkToc:hover #containerS {
	border-color: #ff0055;
}
/* Efeitos Hover */
/* SubCarrousel Vertical */

/* Artistas M-Procurados*/
.imagensA {
	width: 6rem;
	margin: 5px;
	border: 1px solid #ff0055;
	transition: 0.4s;
	border-radius: 100px;
}
.TituloArt {
	color: white;
	font-size: 140%;
}

/* Artistas M-Procurados*/
