* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: mediumvioletred;
    --secondColor: #ff0055;

    --black: #000;
    --white: #FFF;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--white);
}

body,
input,
textarea,
select,
button {
    font: 400 1rem sans-serif;
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}